* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.hero {
    background-image: url("../images/cloud-rays.jpg");
    background-size: cover;
    background-position: 80%;
    padding: 100px;
    width: 100%;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li a {
    padding: 0 10px;
    font-size: 20px;
    text-decoration: none;
}

header h1 a {
    color: #30326f;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid lightblue;
    background-image: linear-gradient(to right, rgba(137, 196, 244, 1), rgba(44, 130, 201, .2));
    padding: 20px;
}

header h1 a:hover {
    color: white;
    background-color: black;
}

/*About Me */

.about {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.about img {
    border-radius: 50%;
    border: 2px solid black;

}

/*test.html css*/
.section-box {
    text-align: center;


}

.project-img {
    width: max-content;
    margin: 0 auto;
}

.project-img img {
    width: 960px;
    height: 540px;
    object-fit: cover;
    object-position: bottom;
    margin: 0;
    display: block;
}

.sub-img {
    display: flex;
}

.sub-img img {
    width: 480px;
    height: 270px;
    object-fit: cover;
    object-position: top;
}

/*Projects*/

.projects {
    border: 1px solid black;
    padding: 20px;
    width: 80%;
    margin: 0 auto 20px auto;
}

.box {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 70%;
    padding: 20px;

}