header {
    background-color: cornsilk;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 20px;
}

.section-box img {
    border-radius: 50%;
    width: 100%;
}

header a {
    float: left;
    padding: 20px;
}
nav {
    float: right;
}

/*body*/

.section-box {
    width: 40%;
    margin: 0 auto;
}

/*styles for tablets*/

@media screen and (max-width: 992px) {
    header a {
        display: block;
        float: none;
        text-align: center;
        padding: 10px;
    }

    nav {
        float: none;
        text-align: center;

    }

    .section-box {
        width: 60%;
        margin: 0 auto;
    }
}

/* Styles for Mobile */

@media screen and (max-width: 688px) {
    header a {
        padding: 5px;
    }

    .section-box {
        width: 90%;
        margin: 0 auto;
    }
}